<aside class="aside-navbar">
    <nav class="navigation">
        <div class="company-info-wrapper">
            <div class="company-icon">
                <img src="http://placehold.it/" alt="Commentary Source logo made from Letter C and S combined as a microphone">
            </div>
            <div class="company-name">
                <p>Commentary Source</p>
            </div>
        </div>
        
        <div class="live-indicator">
            <!-- toggle classes "live" or "not-live" -->
            <div class="live"></div> 
            <p class="live-text">Live</p>
        </div>

        <div class="nav-links">
            <div class="nav-link-wrapper">
                <img class="nav-icon" src="http://placehold.it">
                <a href="http://placehold.it">Teams</a>
            </div>
            <div class="nav-link-wrapper">
                <img class="nav-icon" src="http://placehold.it">
                <a href="http://placehold.it">Games</a>
            </div>
            <div class="nav-link-wrapper">
                <img class="nav-icon" src="http://placehold.it">
                <a href="http://placehold.it">Schedule</a>
            </div>
        </div>
    </nav>
</aside>