<aside class="aside-navbar">
	<nav class="navigation">
		<div class="company-info-wrapper">
			<div class="company-icon">
				<img src="./assets/logo.svg" alt="">
			</div>
			<div class="company-name">
				<p>Commentary Source</p>
			</div>
		</div>

		<div class="live-indicator">
			<!-- toggle classes "live" or "not-live" -->
			<!-- unalive class if not live -->
			<p class="live-icon ">Live</p>
		</div>

		<div class="nav-links">
			<div class="nav-link-wrapper">
				<svg class="nav-icons" width="17" height="10" viewBox="0 0 17 10" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path
						d="M8.18004 0.73584C8.80301 0.73584 9.40046 0.964257 9.84096 1.37084C10.2815 1.77743 10.5289 2.32888 10.5289 2.90387C10.5289 3.47887 10.2815 4.03032 9.84096 4.43691C9.40046 4.84349 8.80301 5.07191 8.18004 5.07191C7.55708 5.07191 6.95963 4.84349 6.51913 4.43691C6.07863 4.03032 5.83115 3.47887 5.83115 2.90387C5.83115 2.32888 6.07863 1.77743 6.51913 1.37084C6.95963 0.964257 7.55708 0.73584 8.18004 0.73584ZM3.48226 2.28444C3.85809 2.28444 4.20706 2.37735 4.50906 2.5446C4.4084 3.4304 4.69026 4.31 5.26742 4.99758C4.93186 5.59224 4.26075 6.00107 3.48226 6.00107C2.9483 6.00107 2.4362 5.80528 2.05862 5.45678C1.68105 5.10828 1.46893 4.63561 1.46893 4.14275C1.46893 3.6499 1.68105 3.17723 2.05862 2.82872C2.4362 2.48022 2.9483 2.28444 3.48226 2.28444ZM12.8778 2.28444C13.4118 2.28444 13.9239 2.48022 14.3015 2.82872C14.679 3.17723 14.8912 3.6499 14.8912 4.14275C14.8912 4.63561 14.679 5.10828 14.3015 5.45678C13.9239 5.80528 13.4118 6.00107 12.8778 6.00107C12.0993 6.00107 11.4282 5.59224 11.0927 4.99758C11.6698 4.31 11.9517 3.4304 11.851 2.5446C12.153 2.37735 12.502 2.28444 12.8778 2.28444ZM3.81782 8.63368C3.81782 7.35144 5.77075 6.31079 8.18004 6.31079C10.5893 6.31079 12.5423 7.35144 12.5423 8.63368V9.7177H3.81782V8.63368ZM0.126709 9.7177V8.78854C0.126709 7.92752 1.39511 7.20278 3.11315 6.99217C2.7172 7.41339 2.4756 7.99566 2.4756 8.63368V9.7177H0.126709ZM16.2334 9.7177H13.8845V8.63368C13.8845 7.99566 13.6429 7.41339 13.2469 6.99217C14.965 7.20278 16.2334 7.92752 16.2334 8.78854V9.7177Z"
						fill="white" />
				</svg>
				<a href="/teams">Teams</a>
			</div>
			<div class="nav-link-wrapper">
				<svg class="nav-icons" width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path
						d="M0.463708 4.73558H11.8966C12.0745 4.73558 12.2201 4.85136 12.2201 4.99287V10.5675C12.2201 11.1357 11.6404 11.5967 10.9259 11.5967H1.43442C0.719869 11.5967 0.140137 11.1357 0.140137 10.5675V4.99287C0.140137 4.85136 0.285744 4.73558 0.463708 4.73558ZM12.2201 3.79217V3.02029C12.2201 2.45211 11.6404 1.99112 10.9259 1.99112H9.63157V0.876189C9.63157 0.734678 9.48596 0.618896 9.308 0.618896H8.22942C8.05146 0.618896 7.90585 0.734678 7.90585 0.876189V1.99112H4.45442V0.876189C4.45442 0.734678 4.30882 0.618896 4.13085 0.618896H3.05228C2.87432 0.618896 2.72871 0.734678 2.72871 0.876189V1.99112H1.43442C0.719869 1.99112 0.140137 2.45211 0.140137 3.02029V3.79217C0.140137 3.93368 0.285744 4.04946 0.463708 4.04946H11.8966C12.0745 4.04946 12.2201 3.93368 12.2201 3.79217Z"
						fill="#DFDFDF" />
				</svg>
				<a href="/">Schedule</a>
			</div>
		</div>
	</nav>
</aside>