<%- include('./partials/head') %>

<main>
	<!-- Heading with game info -->

	<!-- Game score -->

	<!-- Team One -->
	<%- include('./modules/Players/TeamOne', {gameData, playerData}) %>

	<!-- Team Two -->
	<%- include('./modules/Players/TeamTwo', {gameData, playerData}) %>

	<!-- Scoreboard -->
	

	<!-- Stats -->


</main>
<%- include('./partials/footer') %>