<%- include('./partials/head') %>

<main>

  <!-- Heading with logo -->
  <div class="logo-lg">
    <img src="./assets/logo-text-svg.svg" alt="" class="logo-text">
  </div>

  <!-- Tournament Schedule -->
  <section class="schedule">
    <h1 class="schedule-heading">Tournament Schedule</h1>

    <!-- First row games -->
    <h2 class="schedule-date">01 WED</h2>
      <!--  -->

    <!-- Second row games -->
    <h2 class="schedule-date">02 THU</h2>
  </section>

  <!-- Sidebar nav -->
  <%- include('./modules/AsideNav') %>

</main>
<%- include('./partials/footer') %>