<%- include('./partials/head') %>

<div class="qrcode">
    <a href="https://ultitv-realtime-webapp.adaptable.app/studentsform">
        <img src="/assets/qr_code.svg" alt="Scan of klik de qr code om een speler aan te maken">
    </a>
</div>

<%- include('./partials/footer') %>