<%- include('./partials/head') %>

<div class="qrcode">
    <a href="">
        <img src="" alt="Scan of klik de qr code om een speler aan te maken">
    </a>
</div>

<%- include('./partials/footer') %>