<%- include('./partials/head') %>

<main class="styleguide">
    <section class="styleguide-section">
        <h1>Styleguide</h1>
        <article class="colors">
            <h2>Primary Colors</h2>
            <ul>
                <div class="color-wrapper">
                    <li class="color-item color-004b4b"></li>
                    <p class="color-title">Primary #004b4b</p>
                </div>
                <div class="color-wrapper">
                    <li class="color-item color-125f5f"></li>
                    <p class="color-title">Primary-light #125f5f</p>
                </div>
            </ul>
        </article>

        <article class="colors">
            <h2>Secondary colors</h2>
            <ul>
                <div class="color-wrapper">
                    <li class="color-item-sm color-003434"></li>
                    <p class="color-title">#003434</p>
                </div>
                <div class="color-wrapper">
                    <li class="color-item-sm color-106464"></li>
                    <p class="color-title">Compo-bg #106464</p>
                </div>
                <div class="color-wrapper">
                    <li class="color-item-sm color-003434"></li>
                    <p class="color-title">Main-bg #003434</p>
                </div>
                <div class="color-wrapper">
                    <li class="color-item-sm color-1e4545"></li>
                    <p class="color-title">Card-bg #1e4545</p>
                </div>
            </ul>
        </article>
        <article class="colors">
            Accents
            <ul>
                <div class="color-wrapper">
                    <li class="color-item-sm accent-096F19"></li>
                    <p class="color-title">Green #096F19</p>
                </div>
                <div class="color-wrapper">
                    <li class="color-item-sm accent-1757A1"></li>
                    <p class="color-title">Blue #1757A1</p>
                </div>
                <div class="color-wrapper">
                    <li class="color-item-sm accent-841313"></li>
                    <p class="color-title">Red #841313</p>
                </div>
                <div class="color-wrapper">
                    <li class="color-item-sm accent-B29A17"></li>
                    <p class="color-title">Yellow #B29A17</p>
                </div>
            </ul>
        </article>


        <article class="typography">
            <h2>Typography</h2>
            <h3>Roboto Mono</h3>
            <p class="typography--robo-mono"><span class="uppercase">abcdefghijklmnopqrstuvwxyz</span>
            1234567890</p>
            <p class="typography--robo-mono">abcdefghijklmnopqrstuvwxyz</p>
            <h3>Roboto Slab</h3>
            <p class="typography--robo-slab">abcdefghijklmnopqrstuvwxyz</p>
            <p class="typography--robo-slab"><span class="uppercase">abcdefghijklmnopqrstuvwxyz</span></p>
        </article>


        <article class="styleguide-icons">
            <div class="styleguide-icon-wrapper">
                <div class="icon-wrapper">
                    <img src="./assets/break.svg">
                </div>
                <div class="icon-wrapper">
                    <img src="./assets/broken.svg">
                </div>
                <div class="icon-wrapper">
                    <img src="./assets/conceded.svg">
                </div>
                <div class="icon-wrapper">
                    <img src="./assets/hold.svg">
                </div>
            </div>
        </article>
    </section>
</main>

<%- include('./partials/footer') %>
