<section class="gamescore component">
  <div class="game-score-container">
    <!-- Display Flex & Flex-direction column -->
    <div class="wrapper">
      <!-- Display Flex & Row & space between-->
      <div class="logo">
        <img src="/assets/leeuwen.svg">
        <span class="team-name">Leeuwen<!-- Team name 1 --></span>
      </div>
      <div class="score">
        <span class="scored-point">3<!-- Score 1 --></span>
        <span>-</span>
        <span class="scored-point">4<!-- Score 2 --></span>
      </div>
      <div class="logo">
        <img src="/assets/goudvissen.svg">
        <span class="team-name">Goudvissen<!-- Team name 1 --></span>
      </div>
    </div>
    <div class="game-stat-buttons">
      <button id="scoreboard">Scoreboard</button>
      <button id="stats">Stats</button>
    </div>
  </div>
</section>
