<section class="gamescore component">
  <div class="game-score-container">
    <!-- Display Flex & Flex-direction column -->
    <div class="wrapper">
      <!-- Display Flex & Row & space between-->
      <div class="logo">
        <img src="/assets/leeuwen.svg">
        <span class="team-name"><%- gameData.games[0].team1.name %></span>
      </div>
      <div class="score">
        <% const lastIndex = gameStats.stats[0].point.length - 1 %>
        <span class="scored-point"><%- gameStats.stats[0].point[lastIndex].team1Score %></span>
        <span>-</span>
        <span class="scored-point"><%- gameStats.stats[0].point[lastIndex].team2Score %></span>
      </div>
      <div class="logo">
        <img src="/assets/goudvissen.svg">
        <span class="team-name"><%- gameData.games[0].team2.name %></span>
      </div>
    </div>
    <div class="game-stat-buttons">
      <button id="scoreboard">Scoreboard</button>
      <button id="stats">Stats</button>
    </div>
  </div>
</section>
