<section class="legend component">
    <div class="legend-items">
        <div class="legend-item goal">Goals</div>
        <div class="legend-item assist">Assists</div>
        <div class="legend-item block">Blocks</div>
        <div class="legend-item turnover">Turnovers</div>
    </div>
</section>