<section class="scoreboard">
    <button type="button" class="info-button"></button>
    <div class="legend">
        <div class="legend-item">
            <img src="" alt="">
            <p></p>
        </div>
        
        <div class="legend-item">
            <img src="" alt="">
            <p></p>
        </div>

        <div class="legend-item">
            <img src="" alt="">
            <p></p>
        </div>

        <div class="legend-item">
            <img src="" alt="">
            <p></p>
        </div>
    </div>
    <div class="scoreboard-item-wrapper">
        <div class="scoreboard-item"> <!-- Gescoord punt-->
            <div class="scoreboard-team">
                <p></p> <!-- Player name-->
                <img class="point-icon"> <!-- Icon based on type point -->
            </div>
            <div class="point">
                <p><span><!-- Team 1 point--></span>-<span><!-- Team 2 point--></span></p>
            </div>
            <div class="scoreboard-team scoreboard-alt">
                <img class="point-icon"> <!-- Icon based on type point -->
                <p></p> <!-- Player name-->
            </div>
        </div> 
    </div>

</section>