:root{
    --primary-color: #004b4b;
    --secondary-color: #003434 ;
    --primary-color-lighter: #125f5f;
    --tertiary: #FED55D;
    --dark-green: #002525;
    --dark-green-hover: #023030;
    --text-color: #ffffff;

    --component-bg: #106464;
    --main-bg: #003434 ;
    --card-bg: #1e4545;

    --padding-allround: 0.6rem;
    --padding-allround-lg: 1rem;
    --border-radius-allround: 0.5rem;

    --goal-green: #096F19;
    --assist-blue: #1757A1;
    --block-red: #841313;
    --turnover-yellow: #B29A17;
}

@font-face {
    font-family: "Roboto Mono";
    src: url('../fonts/RobotoMono.ttf');
    font-weight: 400;
}

@font-face {
    font-family: "Roboto Slab";
    src: url('../fonts/RobotoSlab.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: var(--text-color); */
    /* outline: 1px solid white; */
}

html{
    height: 100%;
}

body{
    background: var(--main-bg);
    font: 100%/1.4 "Roboto Slab", monospace;
    height: 100%;
}

/* -------------------------------------------------------------------------- */
/*                                  Schedule                                  */
/* -------------------------------------------------------------------------- */
.schedule-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    /* padding: var(--padding-allround); */
}

.schedule-content-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.schedule{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: var(--component-bg);
    border-radius: var(--border-radius-allround);
    padding: var(--padding-allround-lg);
    margin: var(--padding-allround);
    height: 100%;
}

.schedule-heading{
    color: white;
}

.logo-lg{
    margin: var(--padding-allround);
}

.schedule-row{
    display: flex;
    flex-direction: column;
}

.schedule-date{
    font-size: 1.2rem;
    color: var(--tertiary);
    font-weight: 400;
}

.game-cards{
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    margin-top: 1rem;
}

.game-card{
    display: flex;
    flex-direction: column;
    background: var(--card-bg);
    /* width: 35%; */
    border-radius: var(--border-radius-allround);
    padding: var(--padding-allround);
    gap: 0.6rem;
    box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.3);
}

.card-top{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.card-top-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card-top-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.team-logo{
    width: 5rem;
    height: auto;
}

.schedule .team-name{
    font-size: 1rem;
    color: white;
}

.card-top-center{
    color: white;
    display: flex;
    align-items: center;
    padding: var(--padding-allround);
    font-size: 1.5rem;
}

.card-divider{
    width: 100%;
    height: 0.1rem;
    margin: 0 auto;
    background: var(--tertiary);
}

.card-bottom{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
}

.card-tags{
    display: flex;
    flex-flow: row wrap;
    gap: 0.6rem;
    max-width: 16rem;
}

.tag{
    color: white;
    padding: 0.2rem 0.4rem;
    border-radius: var(--border-radius-allround);
    font-size: 0.8rem;
}

.tag:nth-child(odd){
    background: var(--assist-blue);
}

.tag:nth-child(even){
    background: var(--goal-green);
}

.card-buttons{
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
    justify-content: flex-start;
}

.card-link{
    background: var(--dark-green);
    border: none;
    color: white;
    display: flex;
    align-items: center;
    padding: 0.4rem 0.6rem;
    border-radius: 0.2rem;
    font-size: 0.8rem;
    text-decoration: none;
}

.card-link:hover{
    cursor: pointer;
}

.card-btn-svg{
    width: auto;
    height: 1rem;
    margin-right: 0.4rem;
}

/* -------------------------------------------------------------------------- */
/*                                    Teams                                   */
/* -------------------------------------------------------------------------- */
.teams{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: var(--component-bg);
    border-radius: var(--border-radius-allround);
    padding: var(--padding-allround-lg);
    margin: var(--padding-allround);
    height: 100%;
}

.teams-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.teams-heading{
    color: white;
}

.teams-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-left: 2rem;
}

.filter-buttons{
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
}

.filter-btn{
    display: none;
    border: none;
    font-size: 0.9rem;
    padding: 0.2rem 0.6rem;
    border-radius: var(--border-radius-allround);
    color: white;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
}

.team-cards{
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    margin-top: 1rem;
}

.team-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    background: var(--card-bg);
    border-radius: var(--border-radius-allround);
    padding: var(--padding-allround);
    box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.3);
    /* min-width: 45%; */
}

.team-card-right{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    width: 100%;
}

.team-card-right-top{
    color: white;
}

.team-card-right-bottom{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

.team-card-right-bottom-left{
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
}

/* -------------------------------- Add team -------------------------------- */
.team-form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: var(--component-bg);
    border-radius: var(--border-radius-allround);
    padding: var(--padding-allround-lg);
    margin: var(--padding-allround);
}

.team-form-heading{
    color: white;
}

.add-team-form{
    /* border: 1px solid var(--dark-green); */
    border-radius: var(--border-radius-allround);
    padding: var(--padding-allround);
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.form-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.8rem;
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    color: white;
    max-width: 25rem;

}

.form-group select{
    border-radius: var(--border-radius-allround);
    border: none;
    padding: 0.4rem;
}

.form-group label{
    padding-left: 0.3rem;
}

.form-group input{
    border-radius: var(--border-radius-allround);
    border: none;
    padding: 0.4rem;
}

.form-content fieldset{
    padding: 0.4rem;
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius-allround);
}

.form-content fieldset .form-group{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.form-content fieldset legend{
    color: white;
    padding: 0 0.4rem;
}

.form-content fieldset legend input{
    margin-right: 0.4rem;
}

.extra-form-info{
    color: white;
    padding: var(--padding-allround);
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.extra-form-info a{
    color: white;
}

.form-submit{
    max-width: 11.6rem;
    border-radius: var(--border-radius-allround);
    padding: 0.4rem;
    border: none;
    background: var(--dark-green);
    color: white;
}

/* -------------------------------------------------------------------------- */
/*                                Players page                                */
/* -------------------------------------------------------------------------- */

.player-cards{
    display: flex;
    flex-flow: column;
    gap: 0.1rem;
    margin-top: 1rem;
    flex-wrap: wrap;
    /* height: 50vh; */
}

.team-player-card{
    display: flex;
    flex-direction: row;
    background: var(--card-bg);
    border-radius: var(--border-radius-allround);
    padding: 0.3em 1em;
    align-items: center;
    max-width: 45%;
    height: 2.5rem;
}

.team-player-card-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.6rem;
    width: 100%;
}

/* ----------------------------- Player details ----------------------------- */
.player-detail-heading{
    color: white;
    width: 100%;
}

.player-detail-title{
    color: white;
    font-weight: 400;
}

.player-details{
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    margin-top: -1rem;
}

.player-bio-wrapper{
    padding: var(--padding-allround);
    border-radius: var(--border-radius-allround);
    background: var(--card-bg);
    min-width: 20rem;
    box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.3);
}

.player-bio-wrapper h3{
    color: white;
    margin-bottom: 0.5rem;
}

.player-bio{
    margin-top: 0.5rem;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.detail-group{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.detail-group::after{
    content: '';
    display: flex;
    width: 90%;
    height: 1px;
    background: var(--dark-green);
}

.detail-group h4{
    background: var(--dark-green);
    margin-right: auto;
    padding: 0.2rem 0.4rem;
    border-radius: var(--border-radius-allround);
    font-weight: 400;
}

.detail-group p{
    padding: 0.2em 0.4em;
}

.player-facts-wrapper{
    padding: var(--padding-allround);
    border-radius: var(--border-radius-allround);
    background: var(--card-bg);
    min-width: 20rem;
    box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.3);
}

.player-facts-wrapper h3{
    color: white;
    margin-bottom: 0.5rem;
}

.player-facts{
    margin-top: 0.5rem;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.fact{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.fact::after{
    content: '';
    display: flex;
    width: 90%;
    height: 1px;
    background: var(--dark-green);
}

.fact h4{
    background: var(--dark-green);
    margin-right: auto;
    padding: 0.2rem 0.4rem;
    border-radius: var(--border-radius-allround);
    font-weight: 400;
}

.fact p{
    padding: 0.2em 0.4em;
}

/* -------------------------------------------------------------------------- */
/*                                 Commentate                                 */
/* -------------------------------------------------------------------------- */
.commentate-main{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: var(--padding-allround);
}

.component{
    background-color: var(--component-bg);
    border-radius: var(--border-radius-allround);
    padding: var(--padding-allround);
    /* height: 100%; */
}

/* -------------------------------------------------------------------------- */
/*                           Heading with game info                           */
/* -------------------------------------------------------------------------- */
.header{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.logo-sm{
    width: 1.2rem;
    height: auto;
}

.scroll-text-container{
    overflow: hidden;
    display: flex;
    width: 75%;
    white-space: nowrap;
}

.scroll-text{
    animation: scrollText 10s linear infinite;
}

.scroll-text span{
    margin-right: 0.1rem;
    color: white;
    font-weight: 300;
}

@keyframes scrollText{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.live-icon{
    color: white;
    position: relative;
}

.live-icon::before{
    position: absolute;
    content: '';
    width: 0.5rem;
    height: 0.5rem;
    background: red;
    border-radius: 50%;
    margin-right: 0.25rem;
    left: -0.7rem;
    top: 33%;
}

.unalive::before{
    position: absolute;
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    background: gray;
    border-radius: 50%;
    margin-right: 0.2rem;
    left: -0.6rem;
    top: 25%;
}

/* -------------------------------------------------------------------------- */
/*                                   Legend                                   */
/* -------------------------------------------------------------------------- */
.legend{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.legend-items{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.legend-item{
    font-size: 0.8rem;
    padding: 0.2rem 0.3rem;
    border-radius: var(--border-radius-allround);
    color: white;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
}

/* -------------------------------------------------------------------------- */
/*                                 Game Score                                 */
/* -------------------------------------------------------------------------- */

.gamescore {
    display: flex;
    flex-direction: column;
}

.game-score-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-height: 9em;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
}

.logo .team-name {
    /* display: flex; */
    text-align: center;
    font-size: 1.1em;
    color: var(--text-color);
    /* margin-bottom: 1em; */
}

.score {
    color: var(--text-color);
    font-size: 2em;
    font-weight: 500;
    font-family: "Roboto Mono", "monospace";
}

.game-stat-buttons {
    display: flex;
    gap: 0.5em;
    justify-content: center;
    /* border-radius: ; */
}


/* -------------------------------------------------------------------------- */
/*                             Navigation Sidebar                                 */
/* -------------------------------------------------------------------------- */

.aside-navbar {
    display: flex;
    position: relative;
    background-color: #004B4B;
    transition: all 0.5s ease;
    width: 5em;
    overflow: hidden;
}

.aside-navbar.active {
    width: 17em;
}

.aside-navbar #nav-button {
    position: absolute;
    color: var(--text-color);
    top: .9rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    z-index: 2;
}

#nav-button svg {
    fill: white;
    width: 2.5em;
}

.aside-navbar.active #nav-button {
    left: 10%
}

.navigation {
    display: inline-block;
    width: 100%;
}

.company-info-wrapper {
    transform: translateX(10em);
    display: flex;
    justify-content: flex-end;
    /* margin-right: 15em; */
    width: 100%;
    padding: 1em;
    opacity: 0;
}

.aside-navbar.active .company-info-wrapper {
    margin-left: 0;
    transform: translateX(0);
    opacity: 1;
    position: relative;
    z-index: 1;
}

.company-icon {
    display: flex;
    justify-content: center;
    width: 8em;
    height: auto;
}

.company-icon img {
    margin-right: 0.5em;
    width: 1em;
}

.company-icon span {
    font-size: smaller;
    color: var(--text-color);
}

.live-indicator {
    display: flex;
    justify-content: flex-end;
    margin-top: 1em;
    font-weight: 600;
    letter-spacing: 2px;
}

.aside-navbar.active .live-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
}

.live-indicator p span {
    opacity: 0;
}

.aside-navbar.active .live-indicator p span{
    opacity: 1;
}

.nav-links {
    position: relative;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    /* gap: 0.7em; */
    padding: 0.5em;
}

.nav-link-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 90%;
    height: 50px;
    margin: 0.8em auto;
    line-height: 40px;
}


.nav-link-wrapper a {
    color: var(--text-color);
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8em;
}

.aside-navbar .nav-link-wrapper a:hover {
    background-color: var(--component-bg);
    color: var(--text-color);
}

.aside-navbar .nav-link-wrapper a i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 0.8em;
    line-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-icons {
    width: 1.5em;
    height: auto;
}

.aside-navbar .nav-item {
    opacity: 0;
}

.aside-navbar.active .nav-item {
    opacity: 1;
}


/* -------------------------------------------------------------------------- */
/*
                               Players                                  */
/* -------------------------------------------------------------------------- */
.players{
    display: flex;
    flex-direction: column;
    /* width: 100%; */
}

.scroll-y{
    overflow-y: scroll;
}

.team-players{
    display: flex;
    flex-direction: column;
    row-gap: 0.1em;
    /* margin-bottom: auto; */
    height: calc(100vh - (var(--padding-allround) * 2));
}

/* --------------------------- Team name & legend --------------------------- */
.players-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-allround);
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 2;
}

.players-heading .team-name{
    font-size: 1.1rem;
    width: 75%;
}

/* ------------------------------- Player row ------------------------------- */
.player-card{
    display: flex;
    justify-content: space-between;
    padding: 0.3em 1em;
    background: var(--dark-green);
    border: none;
    border-radius: var(--border-radius-allround);
    align-items: center;
}

.player-card:hover{
    background: var(--primary-color-lighter);
    cursor: pointer;
}

.card-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.5em;
    width: 66%;
}

.player-number{
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
}

.player-name{
    font-size: 0.8rem;
    color: white;
    width: 65%;
    word-break: break-word;
    text-align: left;
}

.card-right{
    display: flex;
    width: 25%;
    justify-content: flex-end;
    align-items: center;
}

.actions{
    display: flex;
    column-gap: 0.3rem;
}

.action{
    color: white;
    font-size: 0.8rem;
    font-family: 'Roboto Mono';
    border-radius: 0.5rem;
    padding: 0.1em 0.2em;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
}

.goal{
    background: var(--goal-green);
}

.assist{
    background: var(--assist-blue);
}

.block{
    background: var(--block-red);
}

.turnover{
    background: var(--turnover-yellow);
}

.reduced-opacity{
    opacity: 0.15;
}

/* ------------------------------ Player modal ------------------------------ */
.fact-dialog{
    background: var(--primary-color);
    margin: auto;
    border: solid 4px var(--secondary-color);
    width: 90%;
    border-radius: 0.5em;
}

.fact-dialog::backdrop{
    background: rgba(0, 0, 0, 0.5);
}

.fact-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: white;
}

.dialog-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--secondary-color);
    padding: 0.3em 0.6em;
    margin-top: 0.8em;
}

.fact-dialog h2{
    font-weight: 400;
    font-size: 1.2em;
    padding: 0.1em 0.5em;
    color: white;
}

.close-dialog{
    background: none;
    border: none;
    line-height: 1;
    font-weight: 400;
    display: block;
    margin-right: 0.5em;
    color: white;
    padding: 0.3rem;
}

.close-dialog:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.dialog-content{
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    padding: 0.8em 0.5em;
}

.fact-group{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border: solid 2px var(--secondary-color);
    background: var(--primary-color-lighter);
    border-radius: 0.3em;
    box-shadow: .1rem .1rem .3rem 0rem rgba(0, 0, 0, 0.7);
    padding: 0.8em 0;
}

.fact-title{
    font-weight: 400;
    font-size: 1em;
    background: var(--secondary-color);
    padding: 0.5em 0.8em;
}

.fact-answer{
    font-weight: 300;
    font-size: 0.9em;
    padding: 0.5em 0.8em;
}

/* -------------------------------------------------------------------------- */
/*                                 Scoreboard                                 */
/* -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */
/*                                    Forms                                   */
/* -------------------------------------------------------------------------- */
.main-form-wrapper{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.form-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: solid 2px white;
    padding: 1em;
}

/* -------------------------------------------------------------------------- */
/*                                 Tablet size                                */
/* -------------------------------------------------------------------------- */

@media (min-width: 48rem){
    .commentate-main{
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        grid-template-rows: auto;
        column-gap: 5px;
    }

    .header{
        grid-column: 5 / 9;
    }

    .legend{
        grid-column: 5 / 9;
        grid-row: 2 / 3;
    }

    .gamescore{
        grid-column: 5 / 9;
        grid-row: 3 / 4;
    }

    .team-one-players{
        grid-column: 1 / 5;
        grid-row: 1 / 6;
    }

    .team-two-players{
        grid-column: 9 / 13;
        grid-row: 1 / 6;
    }

    .scoreboard{
        grid-column: 5 / 9;
        grid-row: 4 / 5;
    }



    /* --------------------------------- Players -------------------------------- */

    .team-two-players .players-heading{
        flex-direction: row-reverse;
    }

    .team-two-players .team-name{
        text-align: right;
    }

    .team-two-players .player-card{
        flex-direction: row-reverse;
    }

    .team-two-players .card-left{
        flex-direction: row-reverse;
    }

    .team-two-players .card-right{
        justify-content: flex-start;
    }

    .team-two-players .player-name{
        text-align: right;
    }

    .team-two-players .actions{
        flex-direction: row-reverse;
    }

    /* ---------------------------- Extra info modal ---------------------------- */
    .dialog-content{
        flex-flow: row wrap;
    }

    .fact-dialog h1{
        font-size: 1.5em;
    }

    .close-dialog{
        font-size: 1.5em;
    }

    .fact-title{
        font-size: 1.1em;
    }

    .fact-answer{
        font-size: 1em;
    }
}