<div class="team-player-card">
    <div class="team-player-card-left">
        <p class="player-number"><%- player.jerseyNumber %></p>
        <p class="player-name"><%- player.name %></p>
    </div>
    <div class="team-player-card-right">
        <button class="card-link">
            <img src="/assets/details.svg" alt="Details icon" class="card-btn-svg">
            Details
        </button>
    </div>
</div>